html {
   box-sizing: border-box;
   margin: 0;
   font-size: 10px;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   max-width: 100vw;
   width: 100%;
   margin: 0;
}

main {
   width: 80vw;
   margin: 1vh auto;
}

h1 {
   font-size: 6rem;
}

.card-group {
   display: flex;
   justify-content: center;
   gap: 4rem;
   align-items: center;
   flex-wrap: wrap;
}

.card {
   width: 25vw;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
   flex: 1 0 20rem;
   background-color: #d28dc7;
}

.card:hover {
   opacity: 1;
   background-color: transparent;
}

.card:hover > img,
.card:hover i,
.card:hover .card-description {
   opacity: 1;
}

img {
   width: 100%;
   max-height: 100%;
   object-fit: contain;
}

.card-description {
   position: absolute;
   width: 100%;
   background: rgb(5, 5, 65);
   height: 16%;
   bottom: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2rem;
}

p {
   color: white;
   font-size: 3.3rem;
   margin: 0;
}

i {
   color: white;
   font-size: 4rem;
   opacity: 0;
   transition: all 1s ease;
}

.opacity-transition {
   opacity: 0.7;
   transition: all 1s ease;
}
